@media only screen and (max-width:600px){
 .menu{
display: inline;


} 
.TheMe{
    margin-top: 10px;
    font-size: 1.5 em;
}
.horizontal_nav_bar{

    display: none;
}

.horizontal_nav_bar ul{
    display: none;

}
.menubar{
    align-items: flex-end;
    position: relative;
    display: inline-block;
    margin-left: 10px;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.menubar:hover .dropdown-content {
    align-items: flex-end;
    display: block;
}
.menubar:hover .dropdown-content ul {
    list-style-type: none;
}

.menubar:hover .imagelogo {
    background-color: #3e8e41;
}
.imagelogo{
height: 60%;;
align-items: flex-end;
margin-top: 10%;
width: 40%

}

.TheMe{
    font-size: 2em;
    background-color: azure;
    font-style: italic;
    font-weight: bold;
    color:royalblue;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 15px;
 
}

.building{
display: inline;
   
    margin-left: 23px;
   
}
.headlines{
display: block;
height: auto;
margin: 0 0 0 0;
}
.newsimage{
width: 70%;
height: 30%;
margin: auto;
}
.heading{
    height:48% ;
    margin: 0 0 0 0;
}
.news{
 margin-right: 2px;   

}
.heading li{
    margin-right: 0 px;
}
.Score{
    margin: 0 0 0 0;
    width: auto;
    height: auto;
}
.scoretable{
    float: none;
    margin: 2 2 2 2;
    height: auto;
    width: auto;
    display: block;
}

.footer{
   
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
}
.recordholderimage{
   display: grid;
   grid-template-columns: 23% 23% 23% 23%;

}
.playerimage{
   width: 110px;
   float: none;
height: 195px !important;
width: 113px;
}
.aboutimage{
    height: 37%;
    width: 66%;
    left: 17%;
    top: 193px;
}
.newContent{
    height: 400px;
}
.newContent ul{
    width: 300px;
}
}

