body{
  width: 100%;
  margin: 0;
}
.head{
 
    margin-bottom: 10px;
    margin-right: 20px;
    font-size :40px;
  color:green;
}
.title{
  margin-bottom: 0px;
   
  margin-left:300px;
    font-size :20px;
 
}

.logo{
 
  display: grid;
  grid-template-columns: 20% auto 25%;
  grid-auto-rows: 124px;;
 

}
.logoimage{
 
    margin-left: 53%;
    height: 98%;
    width: 44%;
}
.building{
  margin-left: 20%;

}
.aboutimage4{
  height: 80%;
  width:80%;
  margin: 10% 10% 10% 10%;
  
}
.building{
height: 80%;
margin-top: 10px;
margin-left: 20%;
width: 80%;

}
.footer{
display: block;
}
.social_media{

 height: 46px;;
margin-left: 30%;
margin-right: 30%;}
.footer_image{
  height: 40px;
  width: 40px;
  display: flex;
  float: left;
}
.twitter_image{
 display: flex;
  align-items: right;
  
}
.TheMe{
  margin-top: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  color :blue;
}
.menubar{
  display: none;
  
}
.horizontal_nav_bar{
 
  margin-top: 1px;
 
  height: 46px;
  
  background-color: aqua;;
}
.horizontal_nav_bar ul{
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
 
 

}
.horizontal_nav_bar ul li{
  width: 16%;
  float: left;
}
.horizontal_nav_bar ul li a{
  display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.headlines{
  display:flex;
  width: 100%;
  height: 300px;;

}
.newsimage{
  height: 300px;
  width :31%;
  float: left;
  
}
.aboutimage{

  height: 122px;
    font-size: 12px;
    color: red;
    position: absolute;
    left: 3%;
   
    top: 335px;
    width: 193px;
    overflow: hidden;
  
}
.heading{
  width: 84%;
  margin-left: 20px;
  height: 90%;

}
.newsandhome{
  display: grid;
  grid-template-columns: 49% 49%;
 grid-auto-rows: 30px;

}
.home{
  margin-left: 40px;
  align-items: left;
  font-size: 25px;
}
.news{
  margin-left: 54%;
  font-size: 25px;
}
.newContent{
  height: 100%;
  float: none;
  list-style-type: none;
overflow-y: scroll;}
.hr{
  margin-top: 5px;


}
.news{
  margin-right: 105px;
}
.newContent li{
  overflow: hidden;
  font-size: 20px;
  list-style-type: none;
  height: 70px;
  border-bottom: solid;
}
.blankline{
  height: 5px;
  display: block;
  width: 100%;
}
.Score{
  width:100%;
  height: 171px;
}
.scoretable{
  width:40%;
  float: left;
}
.runs{
  width: 95%;
  margin-left: 10px;

}
.recordholderimage{
  display: inline;
 
  margin-left: 10px;
}
.runs tr{
  height: 30px;
}
.playerimage{
  width: 10%;
  height: 80px;
  float: left;;
}
.spacebar{
 
  display: block;
  height: 24px;
  width: 100%;
}
.player1{
  margin-top:65px;
 
}
.player2{
  margin-top:40px;
  
}
.player3{
  margin-top: 15px;
}
.player4{
  margin-top:10px;

}
.pimage{
  margin-right: 10px;
  float: left;
 
}
.paragragh{
  height: 100px;
  overflow-y: scroll;
  font-size: 1.5em;
  padding: 5px;
  margin-top: 10px;
}

.br{
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 5px;
}
.expende_dpararhgh{
  background-color:azure;
}
.para{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 30px;
}