@media only screen and (max-width:800px){
    .newsimage{
        margin-left: 40px;
        height: none;
        width: 80%;
        align-content: center;
        float: none;
    }
.azzzoutimage{
    position: relative;
  
  font-size: 15px;
  color:red;
  height: 150px;
 
  left: 79px;;
  top:-170px;
  width: 80%;
  overflow: hidden;
}

.headlines{
    display: block;
    height: auto;
    width: 100%;
}
.heading{
    height: auto;
    width:100%;
}
.scoretable{
    width: 90%;
    margin: auto;


}
.newContent{
    height: 284px;
  
    list-style-type: none;
    overflow-y: scroll;
}
.Score{
    margin-left: 43px;
    height: 310px;
    width: 100%;
}
.playerimage{
    width: 145px;
    height: 80px;
    float: left;
}
.aboutimage{
width: 70%;
}
.scoretable{
float:none;
width: 100%;
}
.aboutimage{
left: 7%;
}}